---
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import curatedLogo from '../../public/curated-channel-logo.webp';
---

<header>
	<nav>
		<h1 class="sr-only"><a href="/">{SITE_TITLE}</a></h1>
		<Image src={curatedLogo} alt="Logo" width={200} height={200} loading={'eager'} />
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 2em 1em;
		background: #0d0f14;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
</style>
