---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h1 class="sr-only"><a href="/">{SITE_TITLE}</a></h1>
		<img src="/curation-channel-logo.webp" alt="Logo" width="200" height="200" loading="eager" />
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 2em 1em;
		background: #0d0f14;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav img {
		background-color: white;
		border-radius: 12px;
		padding: .5em;
	}
	
</style>
